<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
</head>
<body>
  <h4>this is the default page and room id is <%= roomid %> </h4>
	<div id="audio-grid">
		<audio controls src="ringtone.mp3" id="myAudio"></audio>
  </div>
  <button onclick="handleplaysound()">play sound</button>
  <button onclick="handlepausesound()">pause sound</button>
</body>
</html>